input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  margin: 0.5em;
}

.percent {
  padding-right: 1rem !important;
}

.percent::after {
  content: '%';
  position: absolute;
  left: calc(100% - 0.8rem);
  top: 0.3rem;
}

.dollar {
  padding-left: 0.7rem !important;
  vertical-align: middle;
}

.dollar::before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0.3rem;
}

.suffix {
  display: inline-block;
  position: absolute;
  margin-left: 0.2rem;
  margin-top: 0.3rem;
}

#Summary {
  position: fixed;
  top: 0;
  right: 0;
  width: 30em;
  background: #eee;
  padding: 0.5em;
  border: 1px solid #aaa;
  white-space: pre;
}